@font-face{
	font-family: amaranth;
	src: url("../fonts/amaranth/amaranth-Regular.otf");
}

body{
	font-family: amaranth;
}

/*##################### NAVBAR ############################*/

nav{
	background-color: #ef562d;
}

.listeNav{
	margin-left: 15%;
}

body{
	background-color: #6969a3;
}

/*########################################################*/


/*#################### FOOTER ############################*/

#colF {
    background-color: #ef562d;
    position:absolute;
	bottom:0;
	width:100%;
	padding-top:50px;
}


/*########################################################*/









/*Couleurs :
	#ef562d <- Nav
	#6969a3 <- fond
*/
